<h2>Login</h2>
<form action="/session" method="post">
    <label for="">email</label>
    <input name="email">

    <label for="">password</label>
    <input name="password" type="password">

    <button>login</button>
</form>
